%flex-column {
    display: flex;
    flex-direction: column;
}

%flex-row {
    display: flex;
    flex-direction: row;
}

%form-margin {
    margin: 0 20px 0 20px;
}

%search-elements {
    font-size: $small-text-size;
    border: $regular-border $textbox-border-color;
    border-radius: $radius-small;
}
