/* color */
$page-font-color: #333333;
$nav-shadow: #00000019;
$blue-contrast-color: #56d4c2;
$blue-contrast-hover: #91d9cf;
$red-contrast-color: #ef3340;
$red-contrast-hover: #f06c75;
$modal-shadow: #00000029;
$textbox-border-color: #b6b6b6;
$modal-background: rgba(0, 0, 0, 0.4);
$card-shadow: #5dd3d829;
$icon-color: #1f1f1f;
$tablerow-text-color: #8b8b8b;
$tablehead-color: #e6e6e6;

/* font-family */
$page-font-family: "Nunito Sans", sans-serif;

/* font-weight */
$bold-text: 700;
$extra-bold-text: 900;
$regular-weight-text: 400;

/* size */
$full-size: 100%;

/* font-size */
$regular-text-size: 0.9rem;
$small-title-size: 1rem;
$nav-text-size: 1.2rem;
$small-text-size: 0.8rem;
$card-button-text-size: 0.7rem;

/* border */
$regular-border: solid 1px;
$radius-small: 5px;
$radius-bigger: 8px;

/* margin */
$search-elements-margin: 0px 4px 0px 4px;
